@import 'bootstrap/scss/mixins';

.image-slider-container {
  .slick-slide {
    padding: 0px 15px;
  }
  .card-carousel-image {
    @include media-breakpoint-between(md, lg) {
      height: 600px;
    }
    @include media-breakpoint-down(md) {
      height: 400px;
    }
    width: 575px !important;
    height: 800px;
    margin: auto;
  }
}
