@import 'bootstrap/scss/mixins';

.img-right-technical-team {
  @include media-breakpoint-down(md) {
    width: 100%;
    height: auto;
  }
}

.img-left-technical-team-container {
  direction: rtl;
}
