@import 'bootstrap/scss/mixins';

.card-hatchery-farm {
  border-bottom: 1px solid rgba(208, 211, 217, 1);

  .card-title {
    span {
      h6 {
        cursor: pointer;
        padding-top: 48px;
      }
    }
  }
}

.commitment-section {
  svg {
    @include media-breakpoint-down(md) {
      transform: scale(0.5);
    }
  }
}
