@import 'bootstrap/scss/mixins';

.card-vision-mission {
  border-bottom: 1px solid rgba(208, 211, 217, 1);
  img {
    @include media-breakpoint-down(md) {
      height: 500px !important;
      object-fit: cover;
    }
  }
  .card-title {
    h2 {
      font-size: 38px;
    }
    span {
      h6 {
        cursor: pointer;
        padding-top: 48px;
      }
    }
  }
  .card-detail-vision,
  .card-detail-mission {
    transition: opacity 0.5s ease;
    h5 {
      &:before {
        content: '';
        width: 80px;
        height: 2px;
        display: block;
        margin-bottom: 40px;
      }
    }
  }

  .card-detail-mission {
    height: 800px;
    @include media-breakpoint-down(md) {
      height: 350px;
    }
    display: grid;
  }

  .card-detail-mission {
    background-color: rgba(38, 72, 128, 1);
    h5 {
      &:before {
        background-color: $warning;
      }
    }
  }
  .card-detail-vision {
    h5 {
      &:before {
        background-color: rgba(38, 72, 128, 1);
      }
    }
  }

  .card-mission-deliver {
    border-top: 1px solid rgba(208, 211, 217, 1);
    &:nth-child(2) {
      border-left: 1px solid rgba(208, 211, 217, 1);
      border-right: 1px solid rgba(208, 211, 217, 1);
    }
  }
}
