@import 'bootstrap/scss/mixins';

.section-seafood-processing {
  @include media-breakpoint-down(md) {
    padding-bottom: 25%;
  }
  .img-right-food {
    width: 100%;
    height: auto;
    @include media-breakpoint-down(md) {
      width: 40%;
      height: auto;
      position: absolute;
      right: 0;
      top: 85%;
    }
  }
  .img-left-food {
    width: 100%;
    height: auto;
    @include media-breakpoint-down(md) {
      width: 40%;
      height: auto;
      position: absolute;
      left: 0;
      top: 80%;
    }
  }

  .img-left-food-container {
    direction: rtl;
  }

  .left-text-food {
    // margin-top: 25%;
    // margin-bottom: 20%;
    @include media-breakpoint-down(md) {
      img,
      h2,
      span {
        text-align: right;
        margin-left: auto;
      }
    }
  }
}
