.slider-container {
  .slick-slide:not(.slick-slide.slick-active) {
    .card-container {
      transition: all 0.5s ease;
      &::after {
        content: '';
        display: block;
        width: calc(98% + 2vw - 31px);
        height: 100%;
        background: rgba(133, 141, 157, 1);
        opacity: 70%;
        position: absolute;
        border-radius: 8px;
        top: 0;
        left: auto;
        z-index: 1;
      }
    }
  }
  .card-carousel {
    bottom: 20px;
    left: 20px;
    background: rgba(161, 161, 161, 0.6);
    width: 25vw;
  }
}
