@import 'bootstrap/scss/mixins';

.slider-container {
  .slick-slide {
    .card-container {
      position: relative;
      transition: opacity 0.5s ease-in;
      @include media-breakpoint-up(xl) {
        width: 1200px;
      }
      &::after {
        content: '';
        display: block;
        width: calc(98% + 2vw - 31px);
        height: 100%;
        background: rgba(133, 141, 157, 0.7);
        position: absolute;
        border-radius: 8px;
        top: 0;
        left: auto;
        z-index: 1;
        transition: opacity 0.5s ease-out;
        @include media-breakpoint-down(xxl) {
          width: calc(98% + 2vw - 24px);
        }
      }
    }

    &.slick-active {
      .card-container::after {
        opacity: 0;
      }
    }

    &:not(.slick-active) {
      .card-container::after {
        opacity: 1;
      }
    }

    .card-responsive {
      @include media-breakpoint-between(sm, lg) {
        width: 500px;
      }
      @include media-breakpoint-down(xs) {
        width: 250px;
      }
    }

    @include media-breakpoint-down(lg) {
      padding: 0px 10px;
    }
  }
  .card-carousel {
    bottom: 20px;
    left: 20px;
    background: rgba(161, 161, 161, 0.6);
    width: 25vw;

    @include media-breakpoint-between(lg, xxl) {
      width: 30vw;
    }
  }
}
