// h1 = 67px
// h2 = 51px
// h3 = 38px
// h4 = 28px
// h5 = 19px
// h6 = 16px

// Extra small	      None	        <576px
// Small	            sm	          ≥576px
// Medium	            md	          ≥768px
// Large	            lg	          ≥992px
// Extra large	      xl	          ≥1200px
// Extra extra large	xxl	          ≥1400px
html {
  zoom: 75%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.text-blue {
  color: #2a4f8d;
}

.bg-blue {
  background: #334f8c;
}

select,
div,
img {
  outline: none !important;
}

.nunito-sans {
  font-family: var(--font-nunito-sans) !important;
}

iframe {
  aspect-ratio: 16 / 9;
}

.hero-component {
  margin-top: -106px;
  height: 500px;
}
.temporary {
  display: none;
}
.hero {
  margin-top: -85px;
  height: 600px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  &::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    z-index: 1;
  }
  display: grid;
  place-content: center;
}

.unique-bg {
  background: linear-gradient(to bottom, white 25%, #eef5f8 75%);
}
.unique-bg-2 {
  background: linear-gradient(to bottom, white 85%, #eef5f8 15%);
}
.unique-bg-3 {
  background: linear-gradient(to bottom, #d7edff 55%, white 45%);
}
.bg-border {
  position: relative;
}
.bg-border::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('(../../../assets/images/bg-about-us.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
}
table,
th,
td {
  text-align: center;
  vertical-align: middle;
}
th {
  font-weight: normal;
  background: #f8fafc !important;
  font-size: 12px;
  width: calc(100% / 8);
}
@include media-breakpoint-down(lg) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 32px;
  }
  h5,
  h4,
  h3 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
}
@include media-breakpoint-down(sm) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 22px;
  }
  h6 {
    font-size: 12px;
  }
}
