$font-family-sans-serif: var(--body-font);

$primary: #305db3;
$secondary: #2b2f38;
$warning: #ff6b18;
$light: #eef5f8;
$dark: #5d6679;
$secondary-bg-subtle: #f0f1f3;
$light-bg-subtle: #eef5f8;
$primary-bg-subtle: #d7edff;
$body-secondary-bg: #f0f6fd;

$input-btn-padding-y: 1.25rem;
$input-btn-padding-x: 1rem;

$h1-font-size: '67px';
$h2-font-size: '51px';
$h3-font-size: '38px';
$h4-font-size: '28px';
$h5-font-size: '19px';

$nav-link-color: $warning;
$nav-link-hover-color: $warning;
$nav-underline-link-active-color: $warning;
$nav-link-focus-box-shadow: none;

$form-select-border-color: $primary;
$form-select-color: $primary;
$form-select-indicator-color: $primary;

$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#2B2F38'/></svg>");

$table-bg: #fcfcfc;
$table-border-color: #e3e8ef;
$table-head-bg: #f8fafc;
$table-border-width: 1px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1560px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1520px,
);
