$font-family-sans-serif: var(--body-font);

$primary: #305db3;
$secondary: #2b2f38;
$warning: #ff6b18;
$light: #eef5f8;
$dark: #5d6679;

$h1-font-size: '67px';
$h2-font-size: '51px';
$h3-font-size: '38px';
$h4-font-size: '28px';
$h5-font-size: '19px';

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1520px,
);

// h1 = 67px
// h2 = 51px
// h3 = 38px
// h4 = 28px
// h5 = 19px
// h6 = 16px

// Extra small	      None	        <576px
// Small	            sm	          ≥576px
// Medium	            md	          ≥768px
// Large	            lg	          ≥992px
// Extra large	      xl	          ≥1200px
// Extra extra large	xxl	          ≥1400px

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

.text-blue {
  color: #2a4f8d;
}

.bg-blue {
  background: #334f8c;
}

select,
div,
img {
  outline: none !important;
}

.nunito-sans {
  font-family: var(--font-nunito-sans) !important;
}

iframe {
  aspect-ratio: 16 / 9;
}

.hero-component {
  margin-top: -106px;
  height: 500px;
}
.hero {
  margin-top: -85px;
}

.unique-bg {
  background: linear-gradient(to bottom, white 25%, #eef5f8 75%);
}
.unique-bg-2 {
  background: linear-gradient(to bottom, white 85%, #eef5f8 15%);
}
// Soon to be delete
.temporary {
  height: 500px;
}
