@import 'bootstrap/scss/mixins';

.tabs-container {
  .tabs-scroll-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    &::-webkit-scrollbar {
      width: 0;
      height: 0; /* Safari and Chrome */
    }
    .tab-item {
      flex: 0 0 auto;
      white-space: nowrap;
      line-height: 12rem;
      width: 17.5%;
      transition:
        color 0.3s,
        border-bottom 0.3s;
      border-bottom: 3px solid #d3d3d3;

      &:hover {
        color: $warning;
      }

      &.active {
        border-bottom: 3px solid $warning;
      }

      @include media-breakpoint-down(lg) {
        line-height: 6rem;
      }
    }
    @include media-breakpoint-down(sm) {
      overflow-x: hidden;
      .tabs-list {
        .tab-item {
          width: 100%;
        }
      }
    }
  }

  .tab-content-container {
    padding-top: 36px;
    .img-journey-container {
      width: 50%;
      border: 1px solid #989fad;
      background-color: #fcfcfd;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      img {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
      }
    }
    .description-journey-container {
      position: relative;
      height: 250px;
      padding: 40px;
      width: 50%;
      border: 1px solid #f0f1f3;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 2px 10px 0px rgba(112, 137, 179, 0.06);
      place-content: center;
      right: 60px;
      top: 170px;
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-top: 16px;
      }
      @include media-breakpoint-down(lg) {
        position: unset;
        height: auto;
      }
      @include media-breakpoint-up(xxl) {
        top: 315px;
      }
    }
    .tab-content {
      opacity: 1;
      transition: opacity 0.5s ease;
      white-space: pre-wrap; // Maintains line breaks and spaces
      overflow-wrap: break-word; // Breaks long words if needed
      

      &.transition {
        opacity: 0;
      }
    }
    .small-text {
      font-size:2rem; // Adjust this value as needed for the desired font size
    }
    
    // // Limit text to two lines
    // .two-line-text {
    //   display: -webkit-box;
    // -webkit-line-clamp: 2; // Limit to 2 lines
    // -webkit-box-orient: vertical;
    // overflow: hidden; // Hide overflow text
    // }
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  .svg-container {
    cursor: pointer;
    width: 100px;
    text-align: center;
    @include media-breakpoint-down(lg) {
      svg {
        transform: scale(0.8);
      }
    }
  }
  // Make text smaller


}
