@import 'bootstrap/scss/mixins';

.slider-container-thumbs-image {
  overflow: hidden;
  .slick-dots li {
    width: unset;
    height: inherit;
    margin: 0px;
  }
  .slick-thumb {
    display: flex !important;
    position: unset;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-x: auto;
  }
}
