@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../../styles/_variable';

.navbar-bg {
  box-shadow:
    0px 0px 10px 0px rgba(25, 25, 25, 0.2),
    0px 0px 4px 0px rgba(25, 25, 25, 0.25);
  transition: background 0.5s linear;

  &.navbar-dark {
    background: rgba(43, 47, 56, 0.75);
    .nav-link,
    .select-language {
      transition: color 0.3s linear;
      color: #f0f1f3;
    }
  }

  &.navbar-white {
    background: rgba(238, 241, 246, 0.75);
    .nav-link,
    .select-language {
      transition: color 0.3s linear;
      color: #383e49;
    }
  }

  .select-language {
    option {
      color: #383e49 !important;
    }
  }

  .select-language.mobile {
    .select-language-mobile {
      border: 1px solid #858d9d;
      padding: 4px 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .selected {
      border: 1px solid white;
    }
  }
}

.img-logo {
  width: 88px;
  height: auto;
  @include media-breakpoint-down(lg) {
    width: 50px;
  }
  transition: opacity 0.5s linear;
}

.navbar-item {
  font-size: 16px;
}

@include media-breakpoint-up(md) {
  .navbar-item.active {
    margin-top: 3px;
    color: $white;

    &::after {
      content: '';
      display: block;
      text-decoration: underline;
      text-decoration: none;
      border-bottom: 4px solid $primary;
      position: relative;
      bottom: -16px;
    }
  }
}

// Navbar responsive
.hamburger-react {
  display: none;
}
@include media-breakpoint-down(lg) {
  .hamburger-react {
    display: unset;
  }
  .navbar-responsive {
    position: absolute;
    box-shadow:
      0px 10px 10px 0px rgba(25, 25, 25, 0.2),
      0px 2px 4px 0px rgba(25, 25, 25, 0.25);
    width: 100%;
    left: 0;
    top: 80px;
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.5s ease-in,
      background 0.5s linear;
    -webkit-transition:
      max-height 0.5s ease-in,
      background 0.5s linear;
    -moz-transition:
      max-height 0.5s ease-in,
      background 0.5s linear;
    -o-transition:
      max-height 0.5s ease-in,
      background 0.5s linear;

    &.navbar-responsive-white {
      background: rgba(238, 241, 246, 0.75);
    }
    &.navbar-responsive-dark {
      background: rgba(43, 47, 56, 0.75);
    }
  }
  .collapse-true {
    max-height: 500px; /* Adjust based on the content height */
  }
  .collapse-false {
    max-height: 0;
  }
}
